<style>
    select{
        display: block;
    }
</style>
<form action="{% url 'actividades:post_actividad' %}" id="form" method="post" class="js-book-create-form">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary">Guardar Actividad</button>
    <a class="btn btn-primary red" onclick="cerrar_modal()">Salir</a>
</form>
<script type="text/javascript">
            /*$('#id_fecha').pickadate({
        monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        selectMonths: true,
        selectYears: 100, // Puedes cambiarlo para mostrar más o menos años
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Ok',
        labelMonthNext: 'Siguiente mes',
        labelMonthPrev: 'Mes anterior',
        labelMonthSelect: 'Selecciona un mes',
        labelYearSelect: 'Selecciona un año',
        });*/
$('#id_fecha').attr("type","date");
$('#id_hora').attr("type","time");
</script> 