{% if not actividad.suspended %}
{% if actividad.status.status == "Por Realizar" %}

<style>
    select{
        display: block;
    }
</style>
<form action="{% url 'actividades:actualizar_status' form.instance.pk %}" id="form" method="post" class="js-book-update-form">
    {% csrf_token %}
    {{form.status}}
    <button class="btn btn-primary">Actualizar Estatus</button>
    <a class="btn btn-primary red" onclick="cerrar_modal()">Salir</a>
</form>
<script type="text/javascript">
            /*$('#id_fecha').pickadate({
        monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        selectMonths: true,
        selectYears: 100, // Puedes cambiarlo para mostrar más o menos años
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Ok',
        labelMonthNext: 'Siguiente mes',
        labelMonthPrev: 'Mes anterior',
        labelMonthSelect: 'Selecciona un mes',
        labelYearSelect: 'Selecciona un año',
        });*/
$('#id_fecha').attr("type","date");
$('#id_hora').attr("type","time");
</script>
{% endif %}
{% if actividad.status.status == "Suspendida" %}
<h1>Nueva Fecha de la actividad</h1>
<form action="{% url 'actividades:actualizar_status' form.instance.pk %}" id="form" method="post" class="js-book-update-form">
    {% csrf_token %}
    <h4>{{form.nombre.value}}</h4>
    <input type="date" name="fecha" id="id_fecha">
    <input type="datetime" name="hora" id="id_hora" required>
    <button class="btn btn-primary">Actualizar Estatus</button>
    <a class="btn btn-primary red" onclick="cerrar_modal()">Salir</a>
</form>
<script>
$('#id_hora').attr("type","time");
var d = new Date();

var month = d.getMonth()+1;
var day = d.getDate();
$('#id_fecha').attr("type","date");

var output = d.getFullYear() + '/' +
    (month<10 ? '0' : '') + month + '/' +
    (day<10 ? '0' : '') + day;
$('#id_fecha').pickadate({
    min: new Date(output),
    formatSubmit: 'yyyy-mm-dd',
    today: 'Hoy',
    clear: 'Limpiar',
    close: 'Ok',
    labelMonthNext: 'Siguiente mes',
    labelMonthPrev: 'Mes anterior',
    labelMonthSelect: 'Selecciona un mes',
    labelYearSelect: 'Selecciona un año',
});
</script>
{% endif %}
{% if actividad.status.status == 'Realizada' %}
<h1>Esta actividad a sido completada</h1>
<a class="btn btn-primary red" onclick="cerrar_modal()">Salir</a>
{% endif %}
{% else %}

<h1>Esta actividad a sido reasignada a otra fecha</h1>
<a class="btn btn-primary red" onclick="cerrar_modal()">Salir</a>

{% endif%}